{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>The CIMS F-11</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center mt-3 py-5">
      <div class="col mb-3">
        <h2>Level</h2>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md mb-3">
      <div class="table-responsive">
          <table id="example" class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col">Level</th>
                  <th scope="col">XP</th>
                  {% if request.session.tipe == 'Admin'%}
                  <th scope="col">Action</th>
                  {% endif %}
                  </tr>
              </thead>
              <tbody>
                {% for pd in row %}
                <tr>
                  <td>{{pd.level}}</td>
                  <td>{{pd.xp}}</td>
                  {% if request.session.tipe == 'Admin'%}
                  <td><a href="{% url 'level:updateLevel' %}" class="btn btn-info" role="button">Update</a></td>
                  {% endif %}
                {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}