{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Update Level</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center my-3">
      <div class="col">
        <h2>Form Ubah Level</h2>
      </div>
  </div>
  <form action="" id="form-action" method="POST">
    {% csrf_token %}
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">       
          <h3>Form Ubah Level</h3>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 mb-3">       
          <label for="inputLevel" class="form-label">Level</label>
          <input type="number" name="level" class="form-control" id="inputLevel" disabled>
        </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-6 mb-3">       
            <label for="inputLevel" class="form-label">XP</label>
            <input value={{awal.0.xp}} type="number" name="xp" class="form-control" id="inputXp" required>
          </div>
      </div>
      <div class="row justify-content-center text-center">
          <div class="col-md-6 mb-3">       
              <button type="submit" class="btn btn-primary">Simpan</button>
          </div>
      </div>
  </form>
</div>
{% endblock content %}