<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">

    <a 
        href="{% url 'main:home' %}" 
        class="navbar-brand mb-0 h1">
        <img 
        class="d-inline-block align-top" 
        src="https://www.pngkey.com/png/full/147-1474253_pixels-plumbobs-sims-4-plumbob-png.png" 
        height="30" alt="">
        TheCIMS
    </a>
    <button 
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    class="navbar-toggler"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div 
        class="collapse navbar-collapse" 
        id="navbarNav">
        {% if request.session.tipe == "Pemain" %}
            {% include 'navbar_pengguna.html' %}
          {% endif %}    

          {% if request.session.tipe == "Admin" %}
            {% include 'navbar_admin.html' %}
          {% endif %}  
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a href="{% url 'login:index' %}" class="nav-link">
                    Login
                </a>
            </li>
            <li class="nav-item active">
                <a href="#" class="nav-link">
                    Register
                </a>
            </li>
            <li class="nav-item active">
                <a href="{% url 'login:logout' %}" class="nav-link">
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>  