{% extends 'base.html' %} 
{% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<title>List Tokoh</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="box">
    <table id="example" class="table table-hover">
        <thead>
          <tr>
            {{% if request.session.tipe == 'admin'%}
            <th scope="col">Username Pemain</th>
            {% endif %}
            <th scope="col">Nama</th>
            <th scope="col">Jenis Kelamin</th>
            <th scope="col">Status</th>
            <th scope="col">XP</th>
            <th scope="col">Energi</th>
            <th scope="col">Kelaparan</th>
            <th scope="col">Hubungan Sosial</th>
            <th scope="col">Warna Kulit</th>
            <th scope="col">Level</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for t in tokoh %}
            <tr>
                {{% if request.session.tipe == 'Admin'%}
                    <td>{{t.username_pengguna}}</td>
                {% endif %}
                <td>{{t.nama}}</td>
                <td>{{t.jenis_kelamin}}</td>
                <td>{{t.status}}</td>
                <td>{{t.xp}}</td>
                <td>{{t.energi}}</td>
                <td>{{t.kelaparan}}</td>
                <td>{{t.hubungan_sosial}}</td>
                <td>{{t.warna_kulit}}</td>
                <td>{{t.level}}</td>
                <td>
                    <form action="{% url 'tokoh:detailTokoh' %}" id="form-action" method="POST">
                        {% csrf_token %}
                        <input type="text" name="uname" value="{{ t.uname }}" class="form-control" id="inputUname" aria-describedby="uname" hidden>
                        <input type="text" name="nama" value="{{ t.nama }}" class="form-control" id="inputnama" aria-describedby="nama" hidden>
                        <button type="submit" class="btn btn-outline-primary">Detail</button>
                    </form>

                    {{% if request.session.tipe == 'Pemain'%}
                    <form action="" id="form-action" method="POST">
                        {% csrf_token %}
                        <input type="text" name="uname" value="{{ t.uname }}" class="form-control" id="inputUname" aria-describedby="uname" hidden>
                        <input type="text" name="nama" value="{{ t.nama }}" class="form-control" id="inputnama" aria-describedby="nama" hidden>
                        <button type="submit" class="btn btn-outline-primary">Update</button>
                    </form>
                    {% endif %}
                </td>
              </tr>
            {% endfor %}
        </tbody>
    <table>
      </div>
  </div>
</div>

{% endblock content %}
