{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>The CIMS F-11</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center mt-3 py-5">
      <div class="col mb-3">
        <h2>Koleksi</h2>
          <a href="{% url 'koleksi:menu_koleksi' %}">
            <button class="btn btn-outline-primary" type="button">
                List Koleksi
            </button>
          </a>
          <a href="{% url 'kategori_apparel:create_ka' %}">
            <button class="btn btn-outline-primary" type="button">
                Buat Kategori Apparel
            </button>
          </a>
          <a href="{% url 'kategori_apparel:index' %}">
            <button class="btn btn-outline-primary" type="button">
                List Kategori Apparel
            </button>
          </a>
          <a href="{% url 'koleksi_tokoh:index' %}">
            <button class="btn btn-outline-primary" type="button">
                List Koleksi Tokoh
            </button>
          </a>
          <a href="{% url 'koleksi_tokoh:create_kt' %}">
            <button class="btn btn-outline-primary" type="button">
                Buat Koleksi Tokoh
            </button>
          </a>
      </div>
  </div>
</div>

{% endblock content %}