{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>The CIMS F-11</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center mt-3 py-5">
      <div class="col mb-3">
        <h2>List Barang</h2>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md mb-3">
      <div class="table-responsive">
          <table id="example" class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Nama</th>
                  <th scope="col">Harga Jual</th>
                  <th scope="col">Harga Beli</th>
                  <th scope="col">Tingkat Energi</th>
                  {% if request.session.tipe == 'admin'%}
                  <th scope="col"> Action</th>
                  {% endif %}
                  </tr>
              </thead>
              <tbody>
                {% for pd in row %}
                <tr>
                  <td>{{pd.id}}</td>
                  <td>{{pd.nama}}</td>
                  <td>{{pd.harga}}</td>
                  <td>{{pd.harga_beli}}</td>
                  <td>{{pd.tingkat_energi}}</td>
                  {% if request.session.tipe == 'admin'%}
                  <td> <button type='submit'> Update </button> </td>
                  <td> <button type='submit'> Delete </button> </td>
                  {% endif %}
                {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}