{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>The CIMS F-11</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center mt-3 py-5">
      <div class="col mb-3">
        <h2>List Rambut</h2>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md mb-3">
      <div class="table-responsive">
          <table id="example" class="table table-hover">
              <thead>
                  <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Harga Jual</th>
                  <th scope="col">Tipe Rambut</th>
                  {% if request.session.tipe == 'Admin'%}
                  <th scope="col"> Action</th>
                  {% endif %}
                  </tr>
              </thead>
              <tbody>
                {% for pd in row %}
                <tr>
                  <td>{{pd.id}}</td>
                  <td>{{pd.harga}}</td>
                  <td>{{pd.tipe}}</td>
                  {% if request.session.tipe == 'Admin'%}
                  <td><a href="{% url 'koleksi:update_rambut' id=pd.id %}">
                    <button type='submit' class='form-control'> Update </button>
                  </a>
                </td>
                  {% endif %}
                </tr>
                {% endfor %}
                {% for pd in rows %}
                <tr>
                  <td>{{pd.id}}</td>
                  <td>{{pd.harga}}</td>
                  <td>{{pd.tipe}}</td>
                  {% if request.session.tipe == 'Admin'%}
                  <a href="{% url 'koleksi:update_rambut' id=pd.id %}">
                    <button type='submit' class='form-control'> Update </button>
                  </a>
                  <a href="{% url 'koleksi:delete_rambut' id=pd.id %}">
                    <button type='submit' class='form-control'> Delete </button>
                  </a>
                  </td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
    </div>
  </div>  
</div>

{% endblock content %}