{% extends 'base.html' %}
{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<title>The CIMS F-11</title>
{% endblock meta %}

{% block content %}
<div class="container">
  <div class="row text-center mt-3 py-5">
      <div class="col mb-3">
        <h2>Buat Koleksi Tokoh</h2>

      </div>
      <form class="mt-3" method="post">
        {% csrf_token %}
        <div class="mb-3">
          <label class="form-label">Nama Tokoh</label>
          <select placeholder="Masukkan nilai" class="form-select"  id="tokohNama" name="tokohNama">
            {% for pd in tokoh %}
            <option value={{pd.nama}}>{{pd.nama}}</option>
            {% endfor %}
          </select>
        </div>
          <div class="mb-3">
            <label class="form-label">ID Koleksi</label>
            <select placeholder="Masukkan nilai" class="form-select"  id="k_id" name="k_id">
            {% for pd in kole %}
            <option value={{pd.id}}>{{pd.id}}</option>
            {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
  </div>
</div>

{% endblock content %}